In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
player = pd.read_csv('datasets/SP player.csv')
player.head()

              Name    Team  W  L   G    IP   ERA  WAR  playerid
0  Griffin Canning  Angels  5  5  17  88.1  4.18  1.4     19867
1     Tyler Skaggs  Angels  7  7  15  79.2  4.29  1.8     10190
2    Andrew Heaney  Angels  4  6  18  95.1  4.91  1.2     15423
3     Jaime Barria  Angels  2  7  13  60.1  5.52 -0.4     18356
4    Dillon Peters  Angels  3  4  12  55.2  5.82 -0.4     18790

In [5]:
player[10:14]

                Name    Team   W  L   G     IP   ERA  WAR  playerid
10  Justin Verlander  Astros  21  6  34  223.0  2.58  6.4      8700
11      Zack Greinke  Astros  18  5  33  208.2  2.93  5.4      1943
12        Wade Miley  Astros  14  6  33  167.1  3.98  2.0      8779
13      Brad Peacock  Astros   5  6  15   80.2  4.24  1.1      5401

In [7]:
player[player["W"] - player["L"]>10]

                  Name       Team   W  L   G     IP   ERA  WAR  playerid
9          Gerrit Cole     Astros  20  5  33  212.1  2.50  7.4     13125
10    Justin Verlander     Astros  21  6  34  223.0  2.58  6.4      8700
11        Zack Greinke     Astros  18  5  33  208.2  2.93  5.4      1943
18          Mike Fiers  Athletics  15  4  33  184.2  3.90  1.7      7754
26           Max Fried     Braves  17  6  30  160.1  4.15  2.9     13743
54     Clayton Kershaw    Dodgers  16  5  28  177.1  3.05  3.4      2036
85   Stephen Strasburg  Nationals  18  6  33  209.0  3.32  5.7     10131
126  Eduardo Rodriguez    Red Sox  19  6  34  203.1  3.81  3.7     13164
166     Domingo German    Yankees  16  4  24  134.2  4.28  1.5     17149

In [9]:
player.sort_values("W")

                  Name       Team   W   L   G     IP   ERA  WAR  playerid
92        Gabriel Ynoa    Orioles   0   9  13   64.1  6.02 -0.6     12938
130     Nathan Eovaldi    Red Sox   1   1  12   54.1  6.13 -0.6      9132
93          David Hess    Orioles   1  10  14   67.2  7.18 -0.6     16130
71     Felix Hernandez   Mariners   1   8  15   71.2  6.40 -0.1      4772
139   Chi Chi Gonzalez    Rockies   1   5  12   58.0  5.43  0.2     14663
..                 ...        ...  ..  ..  ..    ...   ...  ...       ...
85   Stephen Strasburg  Nationals  18   6  33  209.0  3.32  5.7     10131
11        Zack Greinke     Astros  18   5  33  208.2  2.93  5.4      1943
126  Eduardo Rodriguez    Red Sox  19   6  34  203.1  3.81  3.7     13164
9          Gerrit Cole     Astros  20   5  33  212.1  2.50  7.4     13125
10    Justin Verlander     Astros  21   6  34  223.0  2.58  6.4      8700

[170 rows x 9 columns]

In [14]:
player.iloc[:, 1:5].groupby("Team").sum()

               W   L    G
Team
Angels        28  45  113
Astros        83  42  175
Athletics     70  39  167
Blue Jays     11  19   54
Braves        56  35  132
Brewers       46  40  161
Cardinals     55  46  152
Cubs          50  44  150
Diamondbacks  55  51  154
Dodgers       58  26  141
Giants        33  44  120
Indians       50  33  117
Mariners      23  32   81
Marlins       32  49  124
Mets          53  47  157
Nationals     58  30  135
Orioles       27  60  118
Padres        39  53  145
Phillies      54  58  182
Pirates       28  40  113
Rangers       38  37   98
Rays          41  37  123
Red Sox       60  54  172
Reds          52  58  170
Rockies       43  53  146
Royals        32  59  136
Tigers        18  64  127
Twins         62  34  146
White Sox     42  48  122
Yankees       59  34  136